body {
    padding-top: 60px;
    padding-bottom: 40px;
}
.nav li {
    padding-top: 5px;
}

.sidebar-nav {
    padding: 9px 0;
}
.leaderboard {
    padding: 60px;
    margin-bottom: 30px;
    /*background-image: url('/images/gridbg.gif');*/
    background-repeat:repeat;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.leaderboard h1 {
    /*font-size: 40px;*/
    margin-bottom: 5px;
    line-height: 1;
    letter-spacing: -1px;
    color:#FF6600;
}
.leaderboard p {
    font-size: 25px;
    font-weight: 200;
    line-height: 30px;
}

.tree-region {
    background-color: #ddf5dd;
    background-repeat:repeat;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    height:0;
    padding-bottom:100%;
}

.tree-region h3 {
    margin-left: 10px;
    line-height: 1;
    letter-spacing: -1px;
    color:#333;
    font-weight: bold;
}

.nav .nav-header {
    font-size: 18px;
    color:#FF9900;
}